
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Analiza_Risc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Analiza_Risc.styles.css" asp-append-version="true"/>
    
<!-- Includeți Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Includeți jQuery (dacă nu a fost deja inclus) -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

   
    <style>
  body {
  background-color: rgba(255, 255, 255, 0.5); /* Adaugă un fundal alb transparent */
     background: url('https://glyanec.net/sites/default/files/styles/compressor/3000x2000/inline-images/4027794.jpg?itok=6BkLByIQ') no-repeat top;
     background-size: 50%; /* Micșorează imaginea de două ori */
     background-position: center 20%;
    
  }


        
    </style>
</head>
<body>
<header>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Analiza Riscului F.I</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto"> <!-- Adaugare clasele ms-auto pentru alinierea la dreapta -->
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input class="btn btn-danger rounded" style="font-family:'Comic Sans MS'; font-weight: bold; font-size:20px;" type="submit" value="Iesire" />
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@* <footer class="border-top footer text-muted"> *@
@*     $1$ <div class="container"> #1# *@
@*     $1$     &copy; 2023 - Analiza_Risc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> #1# *@
@*     $1$ </div> #1# *@
@* </footer> *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>