@model Analiza_Risc.Models.ViewModels.RegisterModels
@{
    Layout = "_Layout";
    ViewBag.Title = "Inregistrare";
}

<div style="padding: 20px;"></div>


<div class="container py-5" style=" margin-top: -100px">
    <div class="row">
        <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="wrap-login100 " style="height: 730px">

                    <form asp-controller="Account" asp-action="Register" class="login100-form validate-form  ">


                        <span class="login100-form-logo">
                            <i class="zmdi zmdi-landscape"></i>
                        </span>
                        <span class="login100-form-title p-b-34 p-t-27">
                            Inregistrare
                        </span>
                        <div class="wrap-input100 validate-input" data-validate="Enter username">


                            <input asp-for="Numele_Companiei" class="input100" placeholder="Numele Companiei" type="text">

                            <span class="focus-input100" data-placeholder=""></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter username">


                            <input asp-for="CUI" class="input100" placeholder="Codul unic" type="text">

                            <span class="focus-input100" data-placeholder=""></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input asp-for="parola" class="input100" placeholder="Parola" type="password">
                            <span class="focus-input100" data-placeholder=""></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input asp-for="PasswordConfirm" class="input100" placeholder="Comfirma parola" type="password">
                            <span class="focus-input100" data-placeholder=""></span>
                        </div>
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Inregistrare
                            </button>
                        </div>
                        <div class="text-center  " style="color: #ffffff;margin-top: 2%">
                            <a asp-controller="Account" asp-action="Login" class="txt1">Logare</a>
                        </div>

                        <div class="text-center p-t-90">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>    
</div>
