html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

.post-wrap {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-item {
  padding: 15px;
  cursor: pointer;
}

.post-item *,
.item-content {
  background: #413d4c;
  padding: 40px;
}

.item-icon {
  margin-bottom: 20px;
}

.item-icon:before {
  content: "";
  font-family: FontAwesome;
  color: #f09ea3;
  font-size: 50px;
  line-height: 1;
}

.item-icon.photo:before {
  content: "\f030";
}

.item-icon.video:before {
  content: "\f03d";
}

.item-icon.gift:before {
  content: "\f06b";
}

.item-icon.group:before {
  content: "\f0c0";
}

.item-icon.tree:before {
  content: "\f1bb";
}

.item-icon.anchor:before {
  content: "\f13d";
}

.post-item:hover .item-icon,
.post-item:hover .item-body h3,
.post-item:hover .item-body p {
  transform: translateY(-8px);
}

.item-body {
  color: #f5e2cd;
  font-size: 14px;
}

.item-body h3 {
  font-weight: 500;
  margin-bottom: 15px;
  transition-delay: 0.05s;
}

.item-body p {
  transition-delay: 0.1s;
}

.item-footer {
  padding-top: 15px;
}

.link {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f5e2cd;
}

.link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 0.125rem;
  margin: auto;
  background: #f09ea3;
  transform: scaleX(0.2);
  transform-origin: left center;
  z-index: 0;
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}

.link span {
  display: inline-block;
  position: relative;
  transform: translateX(-200%);
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}

.post-item:hover .link span {
  transform: translateX(0%);
}

.post-item:hover .link:before {
  transform-origin: right center;
}

@media (min-width: 768px) {
  .post-item {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}

@media (min-width: 960px) {
  .post-item {
    flex-basis: 33.333333333%;
  }
}

/* Fontfaces */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
  url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
  url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
  url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
  url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*! CSS Used from: https://colorlib.com/etc/lf/Login_v3/vendor/bootstrap/css/bootstrap.min.css */
@media print{
  *,::after,::before{text-shadow:none!important;box-shadow:none!important;}
  a,a:visited{text-decoration:underline;}
}
*,::after,::before{box-sizing:inherit;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
a,button,input,label{-ms-touch-action:manipulation;touch-action:manipulation;}
label{display:inline-block;margin-bottom:.5rem;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;}
input[type=checkbox]{box-sizing:border-box;padding:0;}
.text-center{text-align:center!important;}
/*! CSS Used from: https://colorlib.com/etc/lf/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css */
.zmdi{display:inline-block;font:normal normal normal 14px/1 'Material-Design-Iconic-Font';font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.zmdi-landscape:before{content:'\f18a';}
.zmdi-landscape:before{content:'\f18a';}
/*! CSS Used from: https://colorlib.com/etc/lf/Login_v3/css/util.css */
.p-t-27{padding-top:27px;}
.p-t-90{padding-top:90px;}
.p-b-34{padding-bottom:34px;}
.text-center{text-align:center;}
/*! CSS Used from: https://colorlib.com/etc/lf/Login_v3/css/main.css */
*{margin:0;padding:0;box-sizing:border-box;}
a{font-family:Poppins-Regular;font-size:14px;line-height:1.7;color: #f6f6f6;margin:0;transition:all .4s;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;}
a:focus{outline:none!important;}
a:hover{text-decoration:none;color:#fff;}
input{outline:none;border:none;}
input:focus{border-color:transparent!important;}
label{margin:0;display:block;}
button{outline:none!important;border:none;background:0 0;}
button:hover{cursor:pointer;}
.txt1{font-family:Poppins-Regular;font-size:13px;color:#e5e5e5;line-height:1.5;}
.wrap-login100{width:500px;height:620px ;border-radius:10px;overflow:hidden;padding:55px 55px 37px;background:#9152f8;background:-webkit-linear-gradient(top,#7579ff,#b224ef);background:-o-linear-gradient(top,#7579ff,#b224ef);background:-moz-linear-gradient(top,#7579ff,#b224ef);background:linear-gradient(top,#7579ff,#b224ef);}
.login100-form{width:100%;}
.login100-form-logo{font-size:60px;color:#333;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;justify-content:center;align-items:center;width:120px;height:120px;border-radius:50%;background-color:#fff;margin:0 auto;}
.login100-form-title{font-family:Poppins-Medium;font-size:30px;color:#fff;line-height:1.2;text-align:center;text-transform:uppercase;display:block;}
.wrap-input100{width:100%;position:relative;border-bottom:2px solid rgba(255,255,255,.24);margin-bottom:30px;}
.input100{font-family:Poppins-Regular;font-size:16px;color:#fff;line-height:1.2;display:block;width:100%;height:45px;background:0 0;padding:0 5px 0 38px;}
.focus-input100{position:absolute;display:block;width:100%;height:100%;top:0;left:0;pointer-events:none;}
.focus-input100::before{content:"";display:block;position:absolute;bottom:-2px;left:0;width:0;height:2px;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s;background:#fff;}
.focus-input100::after{font-family:Material-Design-Iconic-Font;font-size:22px;color:#fff;content:attr(data-placeholder);display:block;width:100%;position:absolute;top:6px;left:0;padding-left:5px;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s;}
.input100:focus{padding-left:5px;}
input::placeholder {
  color: #b2adad; /* Culoarea dorită pentru placeholder */
}
.input100:focus+.focus-input100::after{top:-22px;font-size:18px;}
.input100:focus+.focus-input100::before{width:100%;}
.contact100-form-checkbox{padding-left:5px;padding-top:5px;padding-bottom:35px;}
.input-checkbox100{display:none;}
.label-checkbox100{font-family:Poppins-Regular;font-size:13px;color:#fff;line-height:1.2;display:block;position:relative;padding-left:26px;cursor:pointer;}
.label-checkbox100::before{content:"\f26b";font-family:Material-Design-Iconic-Font;font-size:13px;color:transparent;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;justify-content:center;align-items:center;position:absolute;width:16px;height:16px;border-radius:2px;background:#fff;left:0;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.input-checkbox100:checked+.label-checkbox100::before{color:#555;}
.container-login100-form-btn{width:100%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;justify-content:center;}
.login100-form-btn{font-family:Poppins-Medium;font-size:16px;color:#555;line-height:1.2;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;justify-content:center;align-items:center;padding:0 20px;min-width:120px;height:50px;border-radius:25px;background:#9152f8;background:-webkit-linear-gradient(bottom,#7579ff,#b224ef);background:-o-linear-gradient(bottom,#7579ff,#b224ef);background:-moz-linear-gradient(bottom,#7579ff,#b224ef);background:linear-gradient(bottom,#7579ff,#b224ef);position:relative;z-index:1;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s;}
.login100-form-btn::before{content:"";display:block;position:absolute;z-index:-1;width:100%;height:100%;border-radius:25px;background-color:#fff;top:0;left:0;opacity:1;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s;}
.login100-form-btn:hover{color:#fff;}
.login100-form-btn:hover:before{opacity:0;}
@media (max-width:576px){
  .wrap-login100{padding:55px 15px 37px;}
}
.validate-input{position:relative;}
/*! CSS Used fontfaces */
@font-face{font-family:Poppins-Regular;src:url(https://colorlib.com/etc/lf/Login_v3/fonts/poppins/Poppins-Regular.ttf);}
@font-face{font-family:Poppins-Medium;src:url(https://colorlib.com/etc/lf/Login_v3/fonts/poppins/Poppins-Medium.ttf);}
@font-face{font-family:Material-Design-Iconic-Font;src:url(https://colorlib.com/etc/lf/Login_v3/fonts/iconic/fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format('woff2'),url(https://colorlib.com/etc/lf/Login_v3/fonts/iconic/fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format('woff'),url(https://colorlib.com/etc/lf/Login_v3/fonts/iconic/fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format('truetype');}

.row.g-3:hover {
  border-color: #aaa; /* Schimbă culoarea border-ului la hover */
}