html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

.post-wrap {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-item {
  padding: 15px;
  cursor: pointer;
}

.post-item *,
.item-content {
  background: #413d4c;
  padding: 40px;
}

.item-icon {
  margin-bottom: 20px;
}

.item-icon:before {
  content: "";
  font-family: FontAwesome;
  color: #f09ea3;
  font-size: 50px;
  line-height: 1;
}

.item-icon.photo:before {
  content: "\f030";
}

.item-icon.video:before {
  content: "\f03d";
}

.item-icon.gift:before {
  content: "\f06b";
}

.item-icon.group:before {
  content: "\f0c0";
}

.item-icon.tree:before {
  content: "\f1bb";
}

.item-icon.anchor:before {
  content: "\f13d";
}

.post-item:hover .item-icon,
.post-item:hover .item-body h3,
.post-item:hover .item-body p {
  transform: translateY(-8px);
}

.item-body {
  color: #f5e2cd;
  font-size: 14px;
}

.item-body h3 {
  font-weight: 500;
  margin-bottom: 15px;
  transition-delay: 0.05s;
}

.item-body p {
  transition-delay: 0.1s;
}

.item-footer {
  padding-top: 15px;
}

.link {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f5e2cd;
}

.link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 0.125rem;
  margin: auto;
  background: #f09ea3;
  transform: scaleX(0.2);
  transform-origin: left center;
  z-index: 0;
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}

.link span {
  display: inline-block;
  position: relative;
  transform: translateX(-200%);
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}

.post-item:hover .link span {
  transform: translateX(0%);
}

.post-item:hover .link:before {
  transform-origin: right center;
}

@media (min-width: 768px) {
  .post-item {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}

@media (min-width: 960px) {
  .post-item {
    flex-basis: 33.333333333%;
  }
}

/* Fontfaces */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
  url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
  url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
  url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
  url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



